<ul class="slideshow">
  <li class="show"><%=image_tag("home1.jpeg",:height => '250', :width => '660',:alt=>'save memories')%></li>
  <li><%=image_tag("home2.jpg",:height => '250', :width => '660',:alt=>'save memories')%></li>
</ul>